@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #42a5f5;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}


::-webkit-scrollbar {
  width: 10px;  /* Ширина вертикального скроллбара */
  height: 5px;  /* Высота горизонтального скроллбара */
}

/* Ползунок (бегунок) */
::-webkit-scrollbar-thumb {
  background: rgb(0, 103, 177); 
  border-radius: 5px;
}

/* Фон скроллбара с отступами */
::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 5px;
  margin: 10px 2px; /* Отступы сверху и снизу */
}
